<div class="container">
    <div class="row">
    <br><br><br>
        <div class="col-md-6 col-md-offset-3">
	    	<h2 class="form-home-heading text-center">Enter the Category ID and Region ID</h2><br>
	    
	        <input type="text" name="cat_id" ng-model="cat_id" class="form-control" placeholder="Category ID" required autofocus>
	        <br>
	        <input type="text" name="region_id" ng-model="region_id" class="form-control" placeholder="Region ID" required autofocus>
	        <br>
	        <a href="#/{{region_id}}/{{cat_id}}/cat"><button class="btn btn-lg btn-primary btn-block">Submit</button></a>
        </div>
    </div>
</div>