<div class="container">
    <div class="row">
    <br><br><br>
	<div class="col-md-6 col-md-offset-3" ng-controller="postController">
	<h4>Static arrays</h4>
    <pre>Model: {{selected | json}}</pre>
    <input type="text" ng-model="selected" typeahead="state for state in states | limitTo:8" class="form-control">
    </div>


<!--         <div class="col-md-6 col-md-offset-3">
            <h2 class="form-home-heading text-center">Enter Your Name</h2><br>
        
            <input type="text" name="username" ng-model="username" class="form-control" placeholder="Name" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" data-ng-click="submitName()">Submit</button>
        </div> -->
    </div>
</div>